{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Segurança em Duas Etapas</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
    <body class="min-h-screen flex flex-col" style="background-color: #1a102a;">
        <div class="flex flex-col items-center justify-center flex-grow py-10">

            <img 
                src="{% static 'logo/Logo Tex 3 Branca.png' %}" 
                alt="Logo Vivo & Tex3" 
                class="h-16 w-auto mb-6"
            >
            <div class="bg-white p-8 rounded-lg shadow-md w-96 text-center">
                <h2 class="text-xl font-bold mb-2 text-gray-800">
                    Verificação de Segurança
                </h2>

                <p class="text-gray-600 mb-6 text-sm leading-relaxed">
                    Antes de prosseguir, precisamos garantir que é realmente você.
                    Um código de autenticação será enviado ao e-mail:
                    <br>
                    <strong class="text-purple-600">{{ user.email }}</strong>
                </p>

                <!-- Form -->
                <form method="post">
                    {% csrf_token %}
                    <button 
                        type="submit" 
                        class="w-full text-white font-semibold py-2 rounded-lg 
                            active:scale-[0.98] transition-all shadow-md"
                        style="background-color: #a047f0;">
                        Solicitar OTP de Acesso
                    </button>
                </form>

                <!-- Cancelar -->
                <div class="mt-4">
                    <a href="{% url 'logout' %}" 
                    class="text-xs text-gray-500 hover:text-red-500 transition">
                        Cancelar e Sair
                    </a>
                </div>
            </div>
        </div>

        <footer class="w-full py-4 text-center mt-auto">
            <p class="text-white text-sm font-medium">
                © {{ data }} <span class="font-semibold">Tex3 Digital - CNPJ 16.927.395/0001-02</span>.
            </p>

            <p class="text-xs text-gray-300 mt-1">
                Sistema desenvolvido exclusivamente para uso interno.
            </p>
        </footer>
    </body>
</html>