{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>Buscador</title>
    </head>
    <body class="min-h-screen flex flex-col" style="background-color: #1a102a;">
        <div class="flex flex-col items-center justify-center flex-grow py-10">

            <img 
                src="{% static 'logo/Logo Tex 3 Branca.png' %}" 
                alt="Logo Vivo & Tex3" 
                class="h-16 w-auto mb-6"
            >
            <div class="bg-white p-8 rounded-lg shadow-md w-96">
                <form method="post">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                Swal.fire({
                                    position: "top",
                                    icon: "error",
                                    title: "Usuário ou senha incorreta",
                                    toast: true,
                                    background: "#ff4d4d",
                                    color: "#fff",
                                    showConfirmButton: false,
                                    timer: 2500,
                                    timerProgressBar: true,
                                    width: "260px",
                                    customClass: { popup: "swal2-slim" }
                                });
                            });
                        </script>
                    {% endif %}

                    <div class="mb-5">
                        <label class="block text-gray-600 text-sm font-medium mb-1">
                            Seu E-mail
                        </label>

                        <input 
                            type="text" 
                            name="username" 
                            class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm 
                                border-l-4 border-l-purple-600
                                focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-purple-500 
                                transition"
                            placeholder="email@tex3digital.com.br"
                            required
                        >
                    </div>

                    <div class="mb-6">
                        <label class="block text-gray-600 text-sm font-medium mb-1">
                            Senha
                        </label>

                        <input 
                            type="password" 
                            name="password" 
                            class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm 
                                border-l-4 border-l-purple-600
                                focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-purple-500 
                                transition"
                            placeholder="********"
                            required
                        >
                    </div>

                    <button 
                        type="submit" 
                        class="w-full text-white font-semibold py-2 rounded-lg 
                            active:scale-[0.98] transition-all shadow-md"
                        style="background-color: #a047f0;"
                    >
                        Entrar
                    </button>
                </form>
            </div>

        </div>

        <footer class="w-full py-4 text-center mt-auto">
            <p class="text-white text-sm font-medium">
                © {{ data }} <span class="font-semibold">Tex3 Digital - CNPJ 16.927.395/0001-02</span>.
            </p>

            <p class="text-xs text-gray-300 mt-1">
                Sistema desenvolvido exclusivamente para uso interno.
            </p>
        </footer>
    </body>
</html>
   

